<nz-content class="main">
  <div class="piecharts">
    <iframe
      width="50%"
      height="100%"
      frameBorder="0"
      src="https://bespoke-bavarois-a07a7f.netlify.app/top20.html"
    ></iframe>
    <iframe
      width="50%"
      height="100%"
      frameBorder="0"
      src="https://bespoke-bavarois-a07a7f.netlify.app/file.html"
    ></iframe>
  </div>
  <div class="piecharts">
    <iframe
      width="50%"
      height="100%"
      frameBorder="0"
      src="https://bespoke-bavarois-a07a7f.netlify.app/memvscasual.html"
    ></iframe>
    <iframe
      width="50%"
      height="100%"
      frameBorder="0"
      src="https://bespoke-bavarois-a07a7f.netlify.app/malevsfemale.html"
    ></iframe>
  </div>
</nz-content>
